<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - NHS ervices search</title>    
    <link rel="stylesheet" href="~/css/site.css"  />  
    <link rel="stylesheet" href="~/css/media.css" />  

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

    <header>

        <div class="bannerimage">
            <img src="/NHSLogo.jpg" />
        </div>

        <a href="" class="burgermenu"> ☰ </a>
	
        <nav>
           <ul class="navmenu">	                  
                <li class="navmenuitem"> 
					<div class="dropdownmenu"> <a href="/About"> About </a> </div> 
				 </li>	

                <li class="navmenuitem"> 
					<div class="dropdownmenu"> <a href="/Privacy"> Privacy </a> </div> 
				 </li>	

            </ul>
    
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - NHSPharmacySearch - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    
    @await RenderSectionAsync("Scripts", required: false)

</html>