@page
@model IndexModel
@{
    ViewData["Title"] = "Search for NHS services";
}

<form method="post" class="formclass">
 <label> Search for organisations in the NHS </label>
                <input type="text" asp-for="@Model.Searchparameters.search">
 <p>
  

 <input type="submit" value="Search" asp-page="/Results"  asp-route-Id=@Model.Searchparameters />

</form>


          